{% extends "base.html" %}
{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="/delete/{{p.key().id()}}">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="post">
    <div class="post-heading">
        <div class="post-title">
            {{p.subject}}
        </div>
        <div class="post-date">
            {{p.created.strftime("%b %d, %Y")}}
        </div>
    </div>
    <div class="panel-body">
        <div class="post-content">
            {{ p.content | safe }}
        </div>
    </div>
    <div class="post-footer">
        <div class="row">
            <div class="col-md-6 text-left">
                <span>by {{ p.author }}
                    {% if p.author == user.name %}
                        | <a href="/edit/{{p.key().id()}}">Edit</a>
                        | <a href="#" data-toggle="modal" data-target="#myModal">Delete</a>
                    {% endif %}
                </span>
            </div>
            <div class="col-md-6 text-right">
                <form method="post" action="/like/{{p.key().id()}}">
                    {% if p.author != user.name %}
                        {% if p.userLikes(user) %}
                            <button type="submit" class="btn btn-danger">Unlike this post!</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Like this post!</button>
                        {% endif %}
                    {% endif %}
                    <label> <i class="glyphicon glyphicon-thumbs-up"></i> {{ p.countLikes() }}</label>
                </form>
            </div>
        </div>
    </div>
</div>
<h2>Comments ({{ p.countComments() }})</h2>
<div class="panel panel-primary">
    <div class="panel-heading">Add Comment...</div>
    <form novalidate method="post" action="/comment/{{p.key().id()}}">
        <div class="panel-body">
            <textarea name="comment">{{comment}}</textarea>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
{% for c in comments %}
    <div class="comment-header">
        <div class="comment-title">
            {{ c.author.name }}
        </div>
        <div class="comment-date">
            {{ c.created.strftime("%b %d, %Y") }}
        </div>
    </div>
    <div class="comment-body">
        {{ c.comment }}
    </div>
{% endfor %}
{% endblock %}