{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h2>Signup</h2>
        <form novalidate method="post" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="control-label col-md-2">Username</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="username" name="username" value="{{username}}">
                </div>
                <label class="error col-md-4">{{error_username}}</label>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-md-2">Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" id="password" name="password" value="">
                </div>
                <label class="error col-md-4">{{error_password}}</label>
            </div>
            <div class="form-group">
                <label for="verify" class="control-label col-md-2">Verify Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" id="verify" name="verify" value="">
                </div>
                <label class="error col-md-4">{{error_verify}}</label>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-md-2">Email (optional)</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="email" name="email" value="{{email}}">
                </div>
                <label class="error col-md-4">{{error_email}}</label>
            </div>
            <div class="form-group">
                <div class=" col-md-offset-2">
                    <input type="submit" class="btn btn-primary" value="Signup">
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <h2>Exsiting User?</h2>
        <p>Log in <a href="/login">here</a></p>
    </div>
{% endblock %}